/* General CSS */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #d2e0d0;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh, 60vh, 20vh, 10vh;
  grid-template-areas: 
    "header"
    "question"
    "buttons"
    "footer"
  ;
}

/* Header */
h1 {
  grid-area: "header";
}




/* Question box */
.qBox {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
  grid-area: "question";
  justify-content: center;
  /* margin: 3%;
  height: 20%; */
  /* position: static; */
}

/* question look */

#HTMLquestion {
  border: 2px solid #ffa94d;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

/* buttons */
button {
  grid-area: quesions;
  padding: 1%;
  font-size: 24px;
  width: 20%;
  margin: 2%;
}

/* Footer */
footer {
  grid-area: footer;
  display: inline-block;
  text-align: left;
  padding: 2%;
}
