/* General CSS */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #d2e0d0;
  text-align: center;
}

/* Header */
/* h1 {
} */

/* Question box */
.qBox {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

/* question look */

#HTMLquestion {
  height: 3em;
  justify-content: center;
}

/* buttons */
button {
  padding: 1%;
  font-size: 24px;
  width: 20%;
  margin: 2%;
}

/* Footer */
footer {
  justify-content: end;
  text-align: left;
  padding: 2%;
}
